/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: MinecraftFont;
    src: url(../minecraft.woff);
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "MinecraftFont", serif;
}
canvas {
    display: block;
}

button {
    border: 3px solid black;
    @apply m-2 p-2;
}
button:disabled{
    border-color: #777;
    color: #777;
    background-color: #BBB;
    @apply cursor-not-allowed;
}

.command{
    @apply m-2;
    background-color: initial;

}
.command-container{
    @apply flex m-2;
    border: 3px solid black;
    @apply cursor-pointer;

}
.remove-command{
    color:darkred;
    border-color:darkred;
    background-color: white;
    @apply px-4 py-2;
}
.remove-command:hover{
    color:white;
    background-color: darkred;
}
.editing #commands .highlighted .command{
    font-weight: bold;
    text-decoration: underline;

}
.classifying #commands .recognized{
    border-color: green;
}